.dropdown__trigger {
  width: 100%;
  background: none;
  border: none;
  padding: 12px 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  outline: none;
}

.dropdown__trigger:focus {
  outline: none;
}

.dropdown__content {
  padding-left: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.arrow {
  transition: transform 0.2s;
}

.arrow.open {
  transform: rotate(90deg);
}