.dropdown__trigger {
  width: 100%;
  background: none;
  border: none;
  padding: 12px 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  outline: none;
  background-color: #211d1d;
  border: 2px solid var(--border-color);
  color: #fff;
}

.dropdown__trigger:hover {
  background-color: #fcfcfc;
  color: var(--button-text);
}

.icon {
  width: 20px;
  height: 20px;
  color: #fff;
  transition: color 0.2s ease;
}

.dropdown__trigger:hover .icon {
  color: var(--button-text);
}

.dropdown__trigger:focus .icon {
  color: rgb(255, 255, 255);
}

.dropdown__trigger:focus {
  background-color: #211d1d;
  color: #fff;
  outline: none;
}

.dropdown__content {
  padding: 16px 24px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  color: #3e3e3e;
}

.arrow {
  transition: transform 0.2s;
  padding-top: 4px;
}

.arrow.open {
  transform: rotate(90deg);
}