.dropdown__trigger {
  width: 100%;
  background: none;
  border: none;
  padding: 12px 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  outline: none;
}

.dropdown__trigger:hover {
  background-color: #3e3e3e;
}

.dropdown__trigger:focus {
  background-color: #3e3e3e;
  outline: none;
}

.dropdown__content {
  padding: 16px 24px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  color: #3e3e3e;
}

.arrow {
  transition: transform 0.2s;
  padding-top: 4px;
}

.arrow.open {
  transform: rotate(90deg);
}