 .wrapper {
   display: flex;
   gap: 32px;
 }

 .items {
   display: flex;
   flex-direction: row;
   gap: 10px;
 }

 .colors {
   width: 80px;
   height: 50px;
   background-color: var(--bg);
   border-radius: 8px;
 }

 .iconButton {
   max-width: 120px;
 }