.generatorsContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 32px; 
  max-width: 1600px;  
}

.item {
  min-height: 200px;
  padding: 20px;
  background: black;
  color: white;
  border-radius: 12px;
}
  
.address {
  grid-column: 2 / 4;
}