.generatorsContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 32px;
  justify-content: start;
  width: 100%;
}

.item {
  min-height: 200px;
  padding: 20px;
  background: black;
  color: white;
  border-radius: 12px;
}