.button {
  width: 100%;
  padding: 16px;
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(1px);
  -webkit-backdrop-filter: blur(1px);
  transition: all 0.2s ease;
  color: white;
  border: none;
  border-radius: 16px;
  cursor: pointer;
  outline: none;

  &:hover {
    background-color: rgba(255, 255, 255, 0.4);
    color: #000;
  }

  &:focus,
  &:active {
    outline: none;
    background-color: rgba(255, 255, 255, 0.4);
    color: #000;
  }

}