  .wrapper {
    display: flex;
    gap: 32px;
  }

  .uuid {
    font-family: monospace;
    word-break: break-all;
    font-size: 22px;
  }

  .buttonsGroup {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 24px;
  }

  .iconButton {
    max-width: 120px;
  }