 .wrapper {
   display: flex;
   gap: 32px;
 }

 .checkboxRow {
   display: flex;
   align-items: center;
   gap: 8px;
 }

 .buttonsGroup {
   display: flex;
   gap: 24px;
   width: 100%;
 }

 .userName {
   color: rgb(153, 255, 0);
   font-size: 24px;
 }

 .iconButton {
   max-width: 120px;
 }