  .wrapper {
    display: flex;
    gap: 32px;
  }

  .label {
    display: flex;
    align-items: center;
  }

  .checkboxes {
    display: flex;
    gap: 16px;
  }

  .buttonsGroup {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 24px;
  }

  .iconButton {
    max-width: 120px;
  }