.passwordGenerator {
  min-width: 400px;
  padding: 24px;
  border-radius: 32px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(1px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  transition: all 0.2s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.label {
  display: flex;
  gap: 8px;
  align-items: center;
}

.input {
  width: 90%;
  padding: 8px;
  border-radius: 8px;
  outline: none;
  font-size: 22px;
}

.checkboxes {
  display: flex; 
  gap: 16px;
}
 
.buttonsGroup {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 24px;
}
