 .label {
   display: flex;
   gap: 8px;
   align-items: center;
 }

 .input {
   width: 90%;
   padding: 8px;
   border-radius: 8px;
   outline: none;
   font-size: 22px;
 }

 .checkboxes {
   display: flex;
   gap: 16px;
 }

 .buttonsGroup {
   width: 100%;
   display: flex;
   justify-content: space-between;
   gap: 24px;
 }

 .iconButton {
   max-width: 120px;
 }