.cardContainer {
  max-width: 100%;
  grid-column: 2 / -1;
}

.input {
  width: 90%;
  padding: 8px;
  border-radius: 8px;
  outline: none;
  font-size: 22px;
}

.buttonsGroup {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 24px;
}

.iconButton {
  max-width: 120px;
}