.wrapper {
  max-width: 600px;
  padding: 24px;
  border-radius: 32px;
  background: var(--cards-bg);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  justify-content: space-between;
  border: 2px solid var(--border-color);
}