.wrapper {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 24px;
  padding: 24px;
  border: 2px dashed var(--border-color);
  border-radius: 32px;
  background: var(--cards-bg);
}

.title {
  text-align: center;
}

.description {
  max-width: 640px;
}