.header {
  display: flex;
  gap: 24px;
  align-items: center;
  padding: 8px 0;
}

.title {
  border-radius: 24px;
  flex: 1;
  color: var(--title-color);
}

header .themeButton {
  width: 10%;
  max-height: 64px;
}