.header {
  display: flex;
  gap: 24px;
}

.title {
  padding: 32px;
  text-align: center;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(1px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  border-radius: 24px;
  flex: 1;
}

header .themeButton { 
  width: 10%;
}