.sidebar { 
  min-width: 165px;
  padding: 24px;
  background: rgba(10, 10, 10, 0.8);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(1px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  border-radius: 24px;
}

.list { 
  display: flex;
  flex-direction: column;
  gap: 16px;
}