.sidebar {
  max-width: 165px;
  padding: 24px;
  background: var(--sidebar-bg);
  border-radius: 24px;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 8px;
}


.default {
  color: #8f8f8f;
  display: inline-block;
  font-weight: 300;
}

.default:hover {
  color: #c1c0c0;
  transform: scale(1.05);
  font-weight: 600;
}

.active {
  color: #ffffff;
  display: inline-block;
  font-weight: 600;
}

.active:hover {
  color: #ffffff;
}