.sidebar {
  max-width: 165px;
  padding: 24px;
  background: var(--sidebar-bg);
  border-radius: 24px;
  border: 2px solid var(--border-color);
}

.list {
  display: flex;
  flex-direction: column;
  gap: 8px;
}


.default {
  color: var(--text-color);
  display: inline-block;
  font-weight: 300;
}

.default:hover {
  color: var(--text-color);
  transform: scale(1.05);
  font-weight: 900;
}

.active {
  color: var(--text-color);
  display: inline-block;
  font-weight: 900;
  transform: scale(1.05);
}

.active:hover {
  color: var(--text-color);
}