:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 16px;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #303030;
  background-size: cover;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  padding-top: 100px;
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  font-family: "JetBrains Mono", monospace;
  background: var(--bg-color);
  color: var(--text-color);
  box-sizing: border-box;
}

body.light-mode {
  --bg-color: #f5f5f5;
  --main-bg: #ece2f3;
  --cards-bg: #f5f5f5;
  --sidebar-bg: #f5f5f5;

  --text-color: #211d1d;
  --title-color: #211d1d;

  --button-text: #211d1d;
  --button-bg: #e0f765;
  --button-bg-hover: #d0e55d;

  --input-bg: #211d1d;
  --border-color: #211d1d;
}

body.dark-mode {
  --bg-color: #111111;
  --main-bg: #d1d1d1;
  --cards-bg: #1a1a1a;
  --sidebar-bg: #757575;

  --text-color: #f5f5f5;
  --title-color: #1d1d1d;

  --button-text: #0a0a0a;
  --button-bg: #ffffff;
  --button-bg-hover: #e8e8e8;

  --input-bg: #757575;
  --border-color: rgb(241, 241, 241, 0);
}


h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

h2 {
  font-size: 2em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

input {
  background: var(--input-bg);
  padding: 16px 0 16px 16px;
  border-radius: 16px;
  outline: none;
  font-size: 22px;
  box-shadow: none;
  border: none;
  align-self: stretch;
}

textarea {
  width: 100%;
  min-height: 150px;
  max-height: 300px;
  padding: 8px;
  border-radius: 16px;
  line-height: 1.4;
  resize: vertical;
  box-shadow: none;
  outline: none;
}