:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 16px;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #303030;
  background-size: cover;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  box-sizing: border-box;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  padding-top: 100px;
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  font-family: "JetBrains Mono", monospace;
  background: var(--bg-color);
  color: var(--text-color);
}

body.light-mode {
  --bg-color: #e5e7e9;
  --main-bg: #FFFFFF;
  --cards-bg: #e5e7e9;
  --sidebar-bg: #1C1917;

  --text-color: #292524;
  --title-color: #1C1917;

  --button-text: #FFFFFF;
  --button-bg: #0D9488;
  --button-bg-hover: #0F766E;

  --input-bg: #1c1917;
}

body.dark-mode {
  --bg-color: #0C0F17;
  --main-bg: #2A3340;
  --cards-bg: #3B4554;
  --sidebar-bg: #0C0F17;

  --text-color: #D9DBDF;
  --title-color: #F5F5F7;

  --button-bg: #3B82F6;
  --button-bg-hover: #2563EB;
  --button-text: #FFFFFF;

  --input-bg: #1E293B;
}


h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

h2 {
  font-size: 2em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

input {
  background: var(--input-bg);
  padding: 8px;
  border-radius: 8px;
  outline: none;
  font-size: 22px;
  box-shadow: none;
  border: none;
  width: 90%;
}

textarea {
  width: 100%;
  min-height: 150px;
  max-height: 300px;
  padding: 8px;
  border-radius: 16px;
  line-height: 1.4;
  resize: vertical;
  box-shadow: none;
  outline: none;
}