.wrapper {
  max-width: 1920px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 32px;
  background: var(--main-bg);
  border: 2px solid var(--border-color);
  border-radius: 24px;
  padding: 32px;
}

.content {
  display: flex;
  gap: 32px;
}

@media (max-width: 768px) {

  /* CSS для экранов меньше 768px */
  .wrapper {}
}