.wrapper {
  max-width: 1520px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 32px;
  background: var(--main-bg);
  border: 2px solid var(--border-color);
  border-radius: 32px;
  padding: 32px;
  box-sizing: border-box;
}

.content {
  display: flex;
  gap: 32px;
}

@media (max-width: 768px) {

  .wrapper {
    max-width: 720px;
  }
}