.wrapper {
  max-width: 1920px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 32px;
  background: var(--main-bg);
  border-radius: 24px;
  padding: 32px;
}

.content {
  display: grid;
  grid-template-columns: 250px 1fr;
}