.wrapper {
  margin: auto;
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.dropZone {
  margin: 1rem 0;
  padding: 1rem;
  border: 2px dashed #aaa;
  border-radius: 16px;
  text-align: center;
  cursor: pointer;
  position: relative;

  input[type='file'] {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
    top: 0;
    left: 0;
  }
}

.preview img {
  max-width: 100%;
  height: auto;
  margin-top: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.quality {
  display: flex;
  align-items: center;
  gap: 16px;
}

.download {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.downloadButton {
  padding: 16px 48px;
  background: var(--button-bg);
  backdrop-filter: blur(1px);
  -webkit-backdrop-filter: blur(1px);
  transition: all 0.2s ease;
  color: var(--button-text);
  border: 2px solid var(--border-color);
  border-radius: 16px;
  cursor: pointer;
  outline: none;
  text-align: center;

  &:hover {
    background: var(--button-bg-hover);
    color: #211d1d;
    border: 2px solid var(--border-color);
  }

  &:focus,
  &:active {
    outline: none;
    background: var(--button-bg-hover);
    color: #211d1d;
  }
}